<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        <p>Um site incocluso feito pelo {{ $.Site.Data.config.name }} do <a href="https://posarq.ufsc.br">PósArq UFSC</a>, © {{ dateFormat "2006" now }}</p>
        <ul>
            {{ if not .IsHome }}
            <li><a href="{{ $.Site.BaseURL}}">Inicío</a></li>
            {{end}}
            {{- range $.Site.Data.config.links -}}
            <li><a href="{{.link}}">{{.link_name}}</a></li>
            {{- end -}}
        </ul>
    </footer>
</div>
